@import "./../helpers/variables";

.lightbox {
  display: none;
}

.lightbox-visible {
  display: none;
}

@media screen and (min-width: 1440px) {
  .lightbox {
    width: 100vw;
  }
  .lightbox-visible {
    display: block;
  }
  .modal {
    display: block;
    position: fixed;
    z-index: 21;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.85);

    .remove-lightbox {
      position: absolute;
      top: 3%;
      right: 31%;
      background-color: transparent;
      border: 0px;
      font-size: 3.5rem;
      color: white;
      cursor: pointer;
    }
  }
  .modal-content {
    position: relative;
    width: 100%;
    left: 32%;

    #slider-lightbox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: center;

      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      aspect-ratio: 1;
      width: 32rem;
      border-radius: 1rem;
    }

    .slider-photos {
      width: 32rem;
    }

    .white-circle-lightbox {
      margin: 10px;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      cursor: pointer;

      // to not allow selecting arrows
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

      @media (min-width: 430px) {
        margin: -20px;
      }
      .arrow-icon {
        height: 13px;
        width: 10px;
        pointer-events: none;
      }
    }
  }
}
