@import "../helpers/variables";

.disable {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.8;
  z-index: 9;
  height: 100%;
  width: 100%;
  transition: 0.5s;
}

nav {
  margin: 5% 0%;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  width: 98vw;
  padding-left: 2vw;

  // for disabling the background when the overlay is open

  .brand-logo {
    margin: 1% 23vw 0% 0.5rem;
    height: 20px;
  }

  .overlay-open-btn {
    background-color: transparent;
    border: 0px;
    width: 15px;
  }

  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    height: 100%;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 1);

    .overlay-close-btn {
      position: relative;
      background-color: transparent;
      border: 0px;
      font-size: 3rem;
      z-index: 12;
      margin-left: 0.8rem;
      margin-top: 0.5rem;
    }

    .overlay-content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: flex-start;
      margin-left: 1.5rem;
      margin-top: 3rem;

      a {
        color: black;
        padding-bottom: 0;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
  .main-nav-visible {
    width: 70%;
  }
  .main-nav-hidden {
    width: 0%;
  }

  .cart-profile {
    display: flex;
    gap: 30%;

    .cart-button {
      background-color: transparent;
      border: 0px;
      cursor: pointer;

      .cart-logo {
        width: 30px;
        height: auto;
        color: $black;
      }
    }

    .avatar {
      width: 30px;
      height: auto;
    }
  }
}

@media screen and (min-width: 1024px) {
  nav {
    margin: 3% auto;
    width: 80vw;
    gap: 0%;
    border-bottom: 1px solid $primary-pale-orange;
    padding-left: 0;

    .overlay-open-btn {
      display: none;
    }

    .brand-logo {
      height: 100%;
      width: auto;
      margin: 0;
    }

    .main-nav {
      position: relative;
      width: 70%;

      .overlay-close-btn {
        display: none;
      }

      .overlay-content {
        flex-direction: row;
        margin-top: 0.2rem;
        margin-left: 7%;
        gap: 1rem;
        justify-self: flex-start;

        a {
          color: $dark-grayish-blue;
          padding-top: 0.1rem;
          padding-bottom: 2.3rem;
          font-size: 0.8rem;
          font-weight: normal;
        }
        a:hover {
          padding-bottom: 2rem;
          border-bottom: 4px solid $primary-orange;
          color: $black;
        }
      }
    }

    .cart-profile {
      margin-top: -0.7rem;

      .cart-button {
        margin-right: 0.1rem;
        margin-top: -1rem;

        .cart-logo {
          width: $cart-logo;
          height: $cart-logo;
        }
      }

      .avatar {
        border-radius: 50%;
        width: $avatar-size;
        height: $avatar-size;
        border: 2px solid transparent;
      }

      .avatar:hover {
        border: 2px solid $primary-orange;
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  nav {
    width: 70vw;

    .main-nav {
      width: 77%;

      .overlay-content {
        margin-left: 5%;
        gap: 2.2rem;
      }
    }
  }
}
