@import "../helpers/variables";

nav {
  margin: 0% 0%;
  button.overlay-close-btn {
    display: block;
    position: absolute;
    background-color: transparent;
    border: 0px;
    font-size: 3rem;
    top: 10px;
    left: 20px;
    z-index: 12;
  }

  div.main-nav {
    position: fixed;
    z-index: 11;
    height: 100%;
    width: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 1);

    div.overlay-content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: relative;
      top: 7%;
      align-items: flex-start;
      margin-left: 5%;

      a {
        color: black;
        padding-bottom: 0;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  nav {
    margin: 3% 12%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $primary-pale-orange;

    img {
      height: 100%;
      width: auto;
    }

    button.overlay-close-btn {
      display: none;
    }

    div.main-nav {
      position: relative;
      div.overlay-content {
        flex-direction: row;
        margin-left: 5%;
        display: flex;
        gap: 2.3rem;
        justify-self: flex-start;
        a {
          text-decoration: none;
          color: $dark-grayish-blue;
          padding-top: 0.1rem;
          padding-bottom: 2.3rem;
          font-size: 0.8rem;
          font-weight: normal;
        }
        a:hover {
          padding-bottom: 2rem;
          border-bottom: 4px solid $primary-orange;
          color: $black;
        }
      }
    }

    div.cart-profile {
      display: flex;
      margin-top: -0.7rem;

      .cart-button {
        background-color: transparent;
        border: 0px;
        margin-right: 3rem;
        margin-top: -1rem;

        img.cart-logo {
          width: $cart-logo;
          height: $cart-logo;
        }
      }

      img.avatar {
        border-radius: 50%;
        width: $avatar-size;
        height: $avatar-size;
        border: 2px solid transparent;
      }
      img.avatar:hover {
        border: 2px solid $primary-orange;
        cursor: pointer;
      }
    }
  }
}
