@import "../helpers/variables";

#product-info-elements {
  margin: 0;
  padding: 0;
}

#company-name {
  color: $primary-orange;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
}

#product-name {
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}

#product-description {
  color: $dark-grayish-blue;
  font-size: 18px;
}
