@import "../helpers/variables";

#product-info-elements {
  margin: 0.5rem 0;
  padding: 0;
}

#company-name {
  color: $primary-orange;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
  letter-spacing: 1px;
}

#product-name {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

#product-description {
  color: $grayish-blue;
  font-size: 1.1rem;
}

@media screen and (min-width: 435px) {
  #company-name {
    margin-top: 2rem;
  }

  #product-name {
    font-size: 3rem;
    margin-top: 1rem;
  }
}
