@import "../helpers/variables";

.quantity-selector {
  margin: 3% 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $light-grayish-blue;
  border-radius: 0.5rem;
  height: 3rem;
  font-weight: bold;
}
