@import "../helpers/variables";

.quantity-selector {
  margin: 4% 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $light-grayish-blue;
  border-radius: 0.5rem;
  height: 3rem;
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .quantity-selector {
    margin: 0;
    height: 3.5rem;

    .quantity-value {
      width: 2rem;
      text-align: center;
    }
  }
}

@media screen and (min-width: 1440px) {
  .quantity-selector {
    margin: 0;
    height: 3.5rem;

    .quantity-value {
      width: 3rem;
      text-align: center;
    }
  }
}
